In [82]:
import pandas as pd
import csv

df1 = pd.DataFrame({"A": [1,4,2], "B": [2.0, 5.0,float("NAN")], "C": [3,6,5]}, index= [0, 1, 4])
df2 = pd.DataFrame({"A": [2, "Hello"], "B": [5,3], "C": [6, 4]}, index= [2, 3])
print(df1,"\n", df2)

   A    B  C
0  1  2.0  3
1  4  5.0  6
4  2  NaN  5
        A  B  C
2      2  5  6
3  Hello  3  4

In [83]:
df3= pd.concat([df1, df2], axis = 0)
print(df3)

       A    B  C
0      1  2.0  3
1      4  5.0  6
4      2  NaN  5
2      2  5.0  6
3  Hello  3.0  4

In [84]:
df4 = pd.DataFrame({"D": [float("NAN"),1.0,float("NAN"),float("NAN"),0.0],"E": [float("NAN"), 7.0, float("NAN"), float("NAN"), 8.0]}, index= [0, 1, 2, 3, 4])
print(df4)

     D    E
0  NaN  NaN
1  1.0  7.0
2  NaN  NaN
3  NaN  NaN
4  0.0  8.0

In [85]:
df5= pd.concat([df3, df4], axis = 1, sort=True)
print(df5)

       A    B  C    D    E
0      1  2.0  3  NaN  NaN
1      4  5.0  6  1.0  7.0
2      2  5.0  6  NaN  NaN
3  Hello  3.0  4  NaN  NaN
4      2  NaN  5  0.0  8.0

In [86]:
df6 = pd.DataFrame({"A": [11,22,33], "B": [9.0, 7.0,8.0], "C": [float("NAN"),float("NAN"),float("NAN")], "D": [float("NAN"),float("NAN"),float("NAN")], "E": [float("NAN"),float("NAN"),float("NAN")]}, index= [5, 6, 7])
print(df6)

    A    B   C   D   E
5  11  9.0 NaN NaN NaN
6  22  7.0 NaN NaN NaN
7  33  8.0 NaN NaN NaN

In [87]:
df7 = pd.concat([df5, df6], axis = 0, sort=True)
print(df7)

       A    B    C    D    E
0      1  2.0  3.0  NaN  NaN
1      4  5.0  6.0  1.0  7.0
2      2  5.0  6.0  NaN  NaN
3  Hello  3.0  4.0  NaN  NaN
4      2  NaN  5.0  0.0  8.0
5     11  9.0  NaN  NaN  NaN
6     22  7.0  NaN  NaN  NaN
7     33  8.0  NaN  NaN  NaN

In [88]:
df7.replace(to_replace = "[\s\S]*", value=float("NAN"), regex=True, inplace=True)
print(df7)

      A    B    C    D    E
0   1.0  2.0  3.0  NaN  NaN
1   4.0  5.0  6.0  1.0  7.0
2   2.0  5.0  6.0  NaN  NaN
3   NaN  3.0  4.0  NaN  NaN
4   2.0  NaN  5.0  0.0  8.0
5  11.0  9.0  NaN  NaN  NaN
6  22.0  7.0  NaN  NaN  NaN
7  33.0  8.0  NaN  NaN  NaN

In [89]:
print(df7.isnull())
print(df7.mean())

       A      B      C      D      E
0  False  False  False   True   True
1  False  False  False  False  False
2  False  False  False   True   True
3   True  False  False   True   True
4  False   True  False  False  False
5  False  False   True   True   True
6  False  False   True   True   True
7  False  False   True   True   True
A    10.714286
B     5.571429
C     4.800000
D     0.500000
E     7.500000
dtype: float64

In [90]:
print(df7.fillna(df7.mean()))

           A         B    C    D    E
0   1.000000  2.000000  3.0  0.5  7.5
1   4.000000  5.000000  6.0  1.0  7.0
2   2.000000  5.000000  6.0  0.5  7.5
3  10.714286  3.000000  4.0  0.5  7.5
4   2.000000  5.571429  5.0  0.0  8.0
5  11.000000  9.000000  4.8  0.5  7.5
6  22.000000  7.000000  4.8  0.5  7.5
7  33.000000  8.000000  4.8  0.5  7.5