In [1]:
#Q1
import pandas as pd
from sklearn import tree
from sklearn.tree import export_text
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

from pandas.api.types import is_numeric_dtype

xls = pd.ExcelFile('Exam.xlsx')
df1 = pd.read_excel(xls, 'Q1_data')
df2 = pd.read_excel(xls, 'Q2_data')

df1

    A  B  C  Class
0   2  2  0      0
1   2  2  1      0
2   2  0  0      1
3   2  0  1      1
4   2  0  0      0
5   2  1  1      1
6   2  1  1      0
7   0  2  0      0
8   0  1  0      0
9   0  0  1      1
10  0  0  0      1
11  1  2  1      1
12  1  2  0      1
13  1  0  1      1
14  1  0  1      1
15  1  0  1      1

In [2]:
y = df1['Class']
x = df1.drop(["Class"], axis='columns')
print(x)

    A  B  C
0   2  2  0
1   2  2  1
2   2  0  0
3   2  0  1
4   2  0  0
5   2  1  1
6   2  1  1
7   0  2  0
8   0  1  0
9   0  0  1
10  0  0  0
11  1  2  1
12  1  2  0
13  1  0  1
14  1  0  1
15  1  0  1

In [3]:
print(y)

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: Class, dtype: int64

In [4]:
p = x.loc[0]
p['A']= 1
p['B']= 1
p['C']= 1

decision_tree = tree.DecisionTreeClassifier()
#a)
print(decision_tree.fit(x, y))
print(f'Score = {decision_tree.score(x, y)}')
#b)
print(f'Predicted Class = {decision_tree.predict([p])}')

DecisionTreeClassifier()
Score = 0.875
Predicted Class = [0]

In [5]:
#c
r = export_text(decision_tree, feature_names=['A', 'B', 'C'])
print(r)

|--- B <= 0.50
|   |--- C <= 0.50
|   |   |--- A <= 1.00
|   |   |   |--- class: 1
|   |   |--- A >  1.00
|   |   |   |--- class: 0
|   |--- C >  0.50
|   |   |--- class: 1
|--- B >  0.50
|   |--- A <= 0.50
|   |   |--- class: 0
|   |--- A >  0.50
|   |   |--- C <= 0.50
|   |   |   |--- class: 1
|   |   |--- C >  0.50
|   |   |   |--- A <= 1.50
|   |   |   |   |--- B <= 1.50
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- B >  1.50
|   |   |   |   |   |--- class: 1
|   |   |   |--- A >  1.50
|   |   |   |   |--- B <= 1.50
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- B >  1.50
|   |   |   |   |   |--- class: 0

In [6]:
#Q2
#a
print(df2['metro_area'])

0      Gujranwala Metropolitan Area
1      Gujranwala Metropolitan Area
2      Gujranwala Metropolitan Area
3      Gujranwala Metropolitan Area
4      Gujranwala Metropolitan Area
                   ...
919       Karachi Metropolitan Area
920       Karachi Metropolitan Area
921       Karachi Metropolitan Area
922       Karachi Metropolitan Area
923       Karachi Metropolitan Area
Name: metro_area, Length: 924, dtype: object

In [7]:
df2['metro_area'].describe()

count                              924
unique                               4
top       Gujranwala Metropolitan Area
freq                               308
Name: metro_area, dtype: object

In [8]:
df2['metro_area'].unique()

array(['Gujranwala Metropolitan Area', 'Islamabad Metropolitan Area',
       'Karachi Metropolitan Area', 'Karaci Metropolitan Area'],
      dtype=object)

In [9]:
df2['metro_area'].replace({"Karaci Metropolitan Area": "Karachi Metropolitan Area"}, inplace=True)
df2['metro_area'].unique()

array(['Gujranwala Metropolitan Area', 'Islamabad Metropolitan Area',
       'Karachi Metropolitan Area'], dtype=object)

In [10]:
indexNames = df2[ df2['metro_area'] == 'Gujranwala Metropolitan Area' ].index
df2.drop(indexNames , inplace=True)
df2['metro_area'].unique()

array(['Islamabad Metropolitan Area', 'Karachi Metropolitan Area'],
      dtype=object)

In [11]:
df2.isnull().values.any()

True

In [12]:
#graph between grocery_and_pharmacy_percent_change_from_baseline visits between Karachi and islambad november
df2["grocery_and_pharmacy_percent_change_from_baseline"].replace('9-', '-9', inplace= True)

is_numeric_dtype(df2["grocery_and_pharmacy_percent_change_from_baseline"].to_numeric())
# plt.plot(df2['metro_area'],df2["grocery_and_pharmacy_percent_change_from_baseline"])

AttributeError: 'Series' object has no attribute 'to_numeric'

In [ ]:
#b
#barchart avg change park visit each month year khi isl in smae gragp
df2.plot.bar(df2['parks_percent_change_from_baseline'].astype('int32'),df2['metro_area'])